<div class="deetHeader">
  <h3>{{question.quest}}</h3>
</div>
<div class="deetAuthor">
  <h5>by {{question.author}}</h5>
</div>

<div class="qDetails">
  <span class="qNotes">{{question.notes}}</span>


  <button {{action 'delete' question}}>
    <span class="glyphicon glyphicon-trash"></span>
  </button>
  <button>{{#link-to 'update' question.id}}
    <span class="glyphicon glyphicon-pencil"></span>
    {{/link-to}}</button>
</div>
<div class="hr">

</div>

{{#each question.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
{{/each}}
